<section id="from-blog">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="from-blog-area">

          <div class="title-area">
            <h2 class="tittle">Our Courses</h2>
            <span class="tittle-line"></span>
            <p>We offer a different type of courses in all fields of science</p>
          </div>

          <div class="from-blog-content">
            <div class="row">

              <% @courses.each do |course| %>
              <div class="col-md-4">
                <article class="single-from-blog">
                  <figure>
                    <%= link_to(image_tag(course.image),{controller:'lectures',action: 'show',:Course_id => course.id}) %>

                  </figure>
                  
                  <div class="blog-title">
                    <h2>
                 <%= link_to(course.title , {controller: 'lectures',action: 'show',:Course_id => course.id}) %>
                    </h2>
                    <p>Posted by <span class="blog-admin" ><%= @user_name  %></span> on <span class="blog-date"><%=course.created_at%></span></p>
                  </div>




                </article>
              </div>


                <% end %>


              </div>

            </div>



          </div>

      </div>

      </div>

    </div>


</section>
