<!-- Start about section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Start welcome area -->
        <div class="welcome-area">
          <div class="title-area">
            <h2 class="tittle">Welcome to <span>Taaa3laam</span></h2>
            <span class="tittle-line"></span>
            <p>Where you can learn and have fun</p>
          </div>
          <div class="welcome-content">
            <ul class="wc-table">
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-users wc-icon"></span>
                  <h4 class="wc-tittle">Creative instructors</h4>
                  <p>our instructors are experienced in there fields </p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-sellsy wc-icon"></span>
                  <h4 class="wc-tittle">Great Community</h4>
                  <p>the interaction between students will help to increase knowledge and give you a better experience </p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-line-chart wc-icon"></span>
                  <h4 class="wc-tittle">strategy</h4>
                  <p>Our Strategy is to increase your learning curve in a speedy matter </p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-bus wc-icon"></span>
                  <h4 class="wc-tittle">Fast Learning Solution</h4>
                  <p> if you need a private instructor or a faster method to learn this is your solution </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End welcome area -->
      </div>
    </div>
  </div>
</section>
<!-- End about section -->


<!-- Start counter section -->
<section id="counter">
  <%= image_tag 'counter-bg.jpg' %>

  <div class="counter-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start counter area -->
          <div class="counter-area">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="single-counter">
                <span class="fa fa-users"></span>
                <div class="counter-count">
                  <span class="counter">1050</span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="single-counter">
                <span class="fa fa-twitter"></span>
                <div class="counter-count">
                  <span class="counter">2,300</span>
                  <p>Followers</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="single-counter">
                <span class="fa fa-tasks"></span>
                <div class="counter-count">
                  <span class="counter">800</span>
                  <p>Courses Done</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End counter section -->
